.avatar-icon {
  background-color: #f0f3f6;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.avatar-icon__frame {
  aspect-ratio: 1 / 2;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 2400% 100%;
  display: block;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}
